<form (ngSubmit)="onFormSubmit(templateFormRef)" #templateFormRef="ngForm">
  <div id="book-data">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="form-control"
        #titleRef="ngModel"
        ngModel
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="!titleRef.valid && titleRef.touched"
        >Please Enter Valid Title!</span
      >
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input
        type="text"
        name="author"
        id="author"
        class="form-control"
        #authorRef="ngModel"
        ngModel
        required
      />
      <span
        class="help-block text-danger"
        *ngIf="!authorRef.valid && authorRef.touched"
        >Please Enter Valid Author!</span
      >
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <select
        name="genre"
        id="genre"
        class="form-control"
        #genreRef="ngModel"
        [ngModel]="'mystery'"
        required
      >
        <option value="mystery">Mystery</option>
        <option value="fiction">Fiction</option>
        <option value="fantasy">Fantasy</option>
        <option value="Self-Help">Self-Help</option>
      </select>
      <span
        class="help-block text-danger"
        *ngIf="!genreRef.valid && genreRef.touched"
        >Please Select a Genre!</span
      >
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!templateFormRef.valid"
    >
      Submit
    </button>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <h3>{{ bookDetails.title }}</h3>
    <h4>{{ bookDetails.author }}</h4>
    <p>{{ bookDetails.genre }}</p>
  </div>
</div>
